@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Light.woff2') format('woff2'),
        url('Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Thin.woff2') format('woff2'),
        url('Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.woff2') format('woff2'),
        url('Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Visby Round CF Extra';
    src: url('VisbyRoundCF-ExtraBold.woff2') format('woff2'),
        url('VisbyRoundCF-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Visby Round CF';
    src: url('VisbyRoundCF-Bold.woff2') format('woff2'),
        url('VisbyRoundCF-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Visby Round CF Demi';
    src: url('VisbyRoundCF-DemiBold.woff2') format('woff2'),
        url('VisbyRoundCF-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Visby Round CF';
    src: url('VisbyRoundCF-Heavy.woff2') format('woff2'),
        url('VisbyRoundCF-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Visby Round CF';
    src: url('VisbyRoundCF-Light.woff2') format('woff2'),
        url('VisbyRoundCF-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Visby Round CF Extra';
    src: url('VisbyRoundCF-ExtraLight.woff2') format('woff2'),
        url('VisbyRoundCF-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Visby Round CF';
    src: url('VisbyRoundCF-Medium.woff2') format('woff2'),
        url('VisbyRoundCF-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Visby Round CF';
    src: url('VisbyRoundCF-Regular.woff2') format('woff2'),
        url('VisbyRoundCF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

